<div *ngIf="product.title" class="card" style="width: 17em;">
    <img  *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
     <div class="card-body">
       <h5 class="card-title">{{ product.title }}</h5>
       <p class="card-text">{{ product.price | currency:'USD': 'symbol' }}</p>
       <p class="card-text capitalize">{{ product.category }}</p>
     </div>
    <div *ngIf="showActions && shoppingCard" class="card-footer">
        <button  
        *ngIf="shoppingCard.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCard()" 
         class="btn btn-primary btn-block">Add to card</button>
         <ng-template #updateQuantity>
          <product-quantity [product]="product" [shopping-card]="shoppingCard">
          </product-quantity>
         </ng-template>
    </div>
 </div>

 