
.card {
    padding: 0ex;
    margin-bottom: 30px;
}
    
.card-footer {
    border: 0px;
    padding: 0ex;
    border-bottom: 0px;
}

.text-center {
    padding-top: 10px;
}

p.capitalize {
    text-transform: capitalize;
  }

.sticky-top {
    top: 80px;
}

  