<!--Footer -->
<footer class="row-footer bg-light font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
            <h5>Usefull Links</h5>
                <ul class="list-unstyled">
                    <li class="active"><a class="alink" routerLink="/">Home</a></li>
                    <li><a class="alink" href="https://sapir-weather-application.herokuapp.com/" target="_blank">
                      Check my weather site</a></li>
                    <li><a class="alink" href="https://sapir-node3-chat-app.herokuapp.com/" target="_blank">
                      Check my chat</a></li>
                      <li><a class="alink" href="https://github.com/slava-sapir" target="_blank">
                        Check my github</a></li>
                </ul>
        </div>
        <!-- Grid column -->
  
       
    <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-3" >
          <!-- Links -->
      <h5 class="text-uppercase">Social Links</h5>
    
        <a class="btn btn-social-icon" href="http://google.com/+" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon" href="http://www.facebook.com/profile.php?id=" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-social-icon" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social-icon" href="http://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
        <a class="btn btn-social-icon" href="mailto:slavas21@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
       
    </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5>Our Address</h5>
          <address>
            110 Cherryhill Cir<br>
            London, ON<br>
            Canada<br>
            <i class="fa fa-phone"></i>: +1 519 702 8065<br>
            <i class="fa fa-fax"></i>: +852 8765 4321<br>
            <i class="fa fa-envelope"></i>: 
            <a class="alink" href="mailto:slavas21@gmail.com">slavas21@gmail.com</a>
         </address>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a class="alink" href="/"> All right reserved</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->