<div class="page-container">
  <div class="centerDiv">

    <div *ngIf="product.title && !closeAlert; else next" class="alert alert-light alert-dismissible fade show" role="alert">
      <strong>Hello!</strong> 
      Here you can manage your products - save, update or delete them.
      You can also hit cancel to go back to the list of products.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <ng-template #next>
      <div *ngIf="!closeAlert" class="col-md-3" class="alert alert-light alert-dismissible fade show" 
        role="alert">
        <strong>Hello!</strong> 
        Using this form you can add new product to the product list.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>
    
    <div class="row">
       <div class="col-md-9">
    
        <form #f="ngForm" (ngSubmit)="save(f.value)" novalidate>

            <div class="form-group"> 
                 <mat-form-field appearance="fill">
                   <mat-label>Title</mat-label>
                 <input matInput   #title="ngModel"  [(ngModel)]="product.title"
                  name="title" id="title" type="text"  required>
                  <mat-hint>Errors appear instantly!</mat-hint>
				          <mat-error *ngIf="title.touched && title.invalid">Title is needed</mat-error>
                 </mat-form-field>
            </div>

            <div class="form-group">
                <div class="input-group-append">
                  <mat-form-field appearance="fill">
				            <mat-label>Price</mat-label>
                    <input matInput  #price="ngModel"  [(ngModel)]="product.price" name="price" 
                     id="price" type="number" required numbersOnly min="0">
						        <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                    <mat-hint>Errors appear instantly!</mat-hint>
						        <mat-error *ngIf="price.touched || price.invalid">
                      Price is needed and should be greater then 0
                    </mat-error>
					        </mat-form-field>
                </div> 
            </div>

            <div class="form-group">
				      <mat-form-field appearance="fill">
                <mat-label for="category">Category</mat-label>
                <mat-select  #category="ngModel"  [(ngModel)]="product.category" 
                name="category" id="category" required>
                <mat-option value="product.category"></mat-option>
                <mat-option *ngFor="let c of (categories$ | async)" [value]="c.key">
                        {{ c.name }}
                </mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                <mat-error  *ngIf="category.touched && category.invalid">Category is required</mat-error>
				      </mat-form-field>				
            </div>

         <div class="form-group">
			      <mat-form-field appearance="fill">
               <mat-label for="imageUrl">Image URL</mat-label>
               <input matInput  #imageUrl="ngModel"  [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" 
                required pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error  *ngIf="imageUrl.touched && imageUrl.invalid">
                URL is required and should be valid 
                </mat-error>
			      </mat-form-field>	
         </div>

            <button class="btn btn-primary" [disabled]="f.form.invalid" type="submit">Save</button>
            <button class="btn btn-danger" (click)="delete()" type="button">Delete</button>
            <button class="btn btn-secondary" type="reset">Reset</button>
            <button class="btn btn-link" (click)="cancel()" type="reset">Cancel</button>
        
        </form>
    </div>

      <div class="col-md-3">
        <product-card [product]="product" [show-actions]="false"></product-card>
      </div>

   </div>

  </div>
</div>

