
<div class="container">
    <div class="row row-header">
        <div class="col-xs-12 col-sm-8">
            <h1 class="font-color">Nature with us</h1>
            <p style="padding:40px;"></p>
            <p>We take inspiration from the World's best organic products, 
               and create a unique customer experience. 
               Check our products!</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <p style="padding:20px;"></p>
            <img [src]="imageUrl" class="natureImage">
        </div>
    </div>
</div>
<p style="padding:10px;"></p>

<div class="container">
   <div class="row row-header">
      <div class="col-12">
       <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a class="alink" routerLink="/">Home</a></li>
           <li class="breadcrumb-item active" aria-current="page">Contact us</li>
        </ol>
       </nav>
      </div>

      <div class="col-xs-12 col-sm-12">
        <h3  class="font-color">Contact Us</h3>
        <hr>
      </div>
    </div>

<div class="row row-content">
   <div class="col-xs-12 col-sm-12">
      <h2 class="font-color">Location Information</h2> 
   </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
           <h5>Our Address</h5>
            <address style="font-size: 100%">
              110 Cherryhill Cir<br>
              London, ON<br>
             Canada<br>
              <i class="fa fa-phone"></i>: +1 519 702 8065<br>
              <i class="fa fa-fax"></i>: +111 222 333 444<br>
              <i class="fa fa-envelope"></i>: 
              <a href="mailto:slavas21@gmail.com">slavas21@gmail.com</a><br>
              <a type="button" class="btn btn-primary" href="tel:+1 519 702 8065"><i class="fa fa-phone"></i> Call</a>
              <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
              <a type="button" class="btn btn-success" href="mailto:slavas21@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>

           </address>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-1">
        <h5>Map of our Location</h5>
        <div id="mapholder" >
            <google-map
            height="250px"
            width="80%"
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            (mapClick)="click($event)"
          >
            <map-marker
              #markerElem
              *ngFor="let marker of markers"
              [position]="marker.position"
              [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options"
              (mapClick)="openInfo(markerElem, marker.info)"
            >
            </map-marker>
          
            <map-info-window>{{ infoContent }}</map-info-window>
          </google-map>
          
          <button (click)="zoomIn()">Zoom in</button>
          <button (click)="zoomOut()">Zoom out</button>
          <button (click)="logCenter()">Log center</button>
        </div>
    </div>
  </div>
</div>

