
<div class="container">
    <div class="row row-header">
        <div class="col-xs-12 col-sm-8">
            <h1>Weather with us</h1>
            <p style="padding:40px;"></p>
            <p>We take inspiration from the World's best websites, and create a unique weather experience. 
                Check weather at any location in the world!</p>
        </div>
        <div class="col-xs-12 col-sm-4">
           <p style="padding:20px;"></p>
            <img src="img/weather2.jpg" class="img-responsive">
        </div>
    </div>
</div>


<div class="container">
<div class="row">
    <div class="col-xs-12">
       <ul class="breadcrumb">
           <li><a href="/">Home</a></li>
           <li class="active">Contact Us</li>
       </ul>
    </div>
    <div class="col-xs-12">
       <h3>Contact Us</h3>
       <hr>
    </div>
</div>

<div class="row row-content">
   <div class="col-xs-12">
      <h3>Location Information</h3> 
   </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
           <h5>Our Address</h5>
            <address style="font-size: 100%">
              110 Cherryhill Cir<br>
              London, ON<br>
              NORTH POLE<br>
              <i class="fa fa-phone"></i>: +1 519 702 8065<br>
              <i class="fa fa-fax"></i>: +111 222 333 444<br>
              <i class="fa fa-envelope"></i>: 
              <a href="mailto:slavas21@gmail.com">slavas21@gmail.com</a><br>
              <a type="button" class="btn btn-primary" href="tel:+1 519 702 8065"><i class="fa fa-phone"></i> Call</a>
              <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
              <a type="button" class="btn btn-success" href="mailto:slavas21@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>

           </address>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <h5>Map of our Location</h5>
        <div id="mapholder" style="width:100%;height:200px;">
            <ng-container>
           
    
        </div>
    </div>
  </div>
</div>
