.dropdown-toggle {
    cursor: pointer;
}

.navbar { 
    border-bottom: 3px solid #e7e7e7;
  }
  
  .navbar-light .navbar-brand {
    color:  #c1d62e;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #b1c522;
  }