.dropdown-toggle {
    cursor: pointer;
}

.navbar { 
    border-bottom: 3px solid #e7e7e7;
  }
  
  .navbar-light .navbar-brand {
    color:  #c1d62e;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #b1c522;
  }


  .cart-no {
    position: absolute;
    min-height: 5px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1em;
    background: rgb(241, 180, 9);
    color: white;
    text-align: center;
    top: 6px;
    left: 495px;
}