.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.sticky-top {
    top: 60px;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }