.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.sticky-top {
    top: 60px;
}
  

.cartImage {
    position: relative;
    margin: 0px auto;
    margin-left: 200px;
}
  
  