<div class="card" style="width: 25rem;" *ngIf="action">

      <div class="card-header">
        Order summary
      </div>
    <div class="card-body" *ngFor="let item of myOrder" >

       <ul *ngFor="let elem of item.items" class="list-group list-group-flush" >
          <li class="list-group-item" >
          {{ elem.quantity }} X {{ elem.product.title }} X {{ elem.product.price | currency:'USD':'symbol' }}
             <div class="float-right">
             = {{ elem.totalPrice | currency:'USD':'symbol' }}
             </div>
          </li>
       </ul>
      <ul class="list-group list-group-flush">
          <li class="list-group-item font-weight-bold">
                Total:
              <div class="float-right">
                {{ item.total | currency:'USD':'symbol' }}
              </div>
          </li>
      <!-- </ul> -->
      <!-- <button class="btn btn-link" (click)="close()">Close</button>
      <ul class="list-group list-group-flush"> -->
        <li class="list-group-item font-weight-bold">
          <div class="float-right">
           <a class="alink" (click)="close()">Close</a>
          </div>
       </li>
   </ul>

    </div>
</div>
  
